.buttonGlass {
  cursor: pointer;
  border: 0;
  padding: 0.625rem 3.125rem 0.625rem 0.625rem;
  background-color: transparent;
  position: absolute;
  top: 35.688rem;
  left: 4.938rem;
  box-shadow:
    -1px -1px 1px rgba(255, 255, 255, 0.9),
    -1px -1px 5px rgba(255, 255, 255, 0.4) inset,
    -1px -1px 2px rgba(255, 255, 255, 0.17) inset,
    1px 1px 1px rgba(255, 255, 255, 0.9) inset,
    1px 1px 5px rgba(255, 255, 255, 0.4) inset,
    1px 1px 2px rgba(255, 255, 255, 0.17) inset;
  border-radius: 100px;
  width: 18.938rem;
  height: 4.75rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  isolation: isolate;
  gap: 0.625rem;
}
.buttonGlassChild,
.header {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.buttonGlassChild {
  height: 7.375rem;
  width: 20.813rem;
  top: -0.937rem;
  left: -1.125rem;
  backdrop-filter: blur(9px);
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 0;
}
.header {
  height: 1.938rem;
  width: 11.125rem;
  top: 1.375rem;
  left: 2.625rem;
  font-size: 1.5rem;
  font-family: "Cal Sans";
  color: #fff;
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.arrowSmallUp11 {
  height: 2.25rem;
  width: 2.25rem;
  position: relative;
  object-fit: contain;
  z-index: 2;
  flex-shrink: 0;
}
