.callToAction,
.letsStartSomethingGreatToParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.callToAction {
  align-self: stretch;
  justify-content: center;
  padding: 0 1.25rem 0 1.312rem;
  box-sizing: border-box;
  text-align: center;
  font-size: 5rem;
  color: #fff;
  font-family: Geist;
}
.letsStartSomethingGreatToParent {
  flex-direction: column;
  gap: 2.937rem;
}
.letsStartSomethingContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
}
.great {
  color: var(--Brand-Light);
}
.callToActionLink {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.25rem;
}
@media screen and (max-width: 800px) {
  .letsStartSomethingContainer {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 450px) {
  .letsStartSomethingGreatToParent {
    gap: 1.438rem;
  }
  .letsStartSomethingContainer {
    font-size: 1.5rem;
  }
}
